@media screen and (max-width: 1299px) {
    .container{
        width: 100%;
        margin: auto;
        padding: 0 5%;
    }

        
}

@media screen and (max-width: 1299px) {
    .col-33{
        width: 48%;
        margin:0 auto;
    }

    .row{
        flex-wrap: wrap;
    }

    
}


@media screen and (max-width: 768px) {
    .col-33{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 12px;
    }

    
}

@media screen and (max-width: 992px) {
    #menu-btn{
        display:inline-block;

    }

    .navbar{
        position: fixed;
        top: -20%;
        right: 100%;
        text-align: center;
        bottom:0%;
        width: 50%;
        margin: auto;
        height: fit-content;
        background: white;
        text-align: center;
    }

    .navbar a{
        display: block;
        margin-bottom: 20px !important;
        color: #000 !important;
    }

    .navbar.active{
        right: 0%; 
    }

    .nav.active{
        left: 0%;
    }


    .text-title{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    
}


@media screen and (max-width: 568px) {
    .icons{
        font-size: .8rem;
    }

    .header .logo{
        font-size: 1rem;
    }

    /* .col-33{
        width: 100% !important; 
        margin: auto;
    } */
}

@media screen and (max-width: 361px) {
    .container{
        width: 100%;
        margin: auto;
    }
    .second_heading{
        font-size: 2.5rem;
    }

    .product-img {
        width: 100%;
        height: 125px;
        margin: 0 auto;
    }
    .second_heading{
    font-size: 1.5rem;
    }

    .productImg{
        height: 10rem;
    }
    .icon a{
        margin-bottom: 8px;
    }
}
